* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(#e66465, #9198e5);
  /* background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c); */
}

h1 {
  font-family: "Cabin Sketch", sans-serif;
  font-size: 3.8rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.1em;
  padding: 2rem;
  text-align: center;
}

h2 {
  font-family: "Monoton", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.7rem;
}

.game-mode {
  padding: 2rem;
  text-align: center;
}

[data-game-mode-button] {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0.15em;

  height: 2.5rem;
  width: 11rem;

  padding: 0.4rem;
  margin: 0.2rem;
  cursor: pointer;

  border-radius: 0.7rem;
}

.game-score {
  padding: 2rem;
  font-family: "Silkscreen", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

[data-output-game-score] {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #ff0000;
}

[data-output-text] {
  margin-top: 1.5rem;
  padding: 1rem;

  font-family: "Righteous", sans-serif;
  font-size: 1.35rem;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding: 2rem;
  z-index: 0;
}

[data-choice-button] {
  font-size: 1.3rem;
  line-height: 1.5rem;
  height: 3.3rem;
  width: 9.5rem;

  margin: 0.2rem;
  padding: 0 1.56rem;
  position: relative;
  text-align: center;
  text-decoration: none;

  align-items: center;
  background-color: #e5ff23;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;

  &:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 3.5rem;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform 0.2s ease-out;
    z-index: -1;
  }

  &:hover:after {
    transform: translate(0, 0);
  }

  &:active {
    background-color: #8b9f17;
    outline: 0;
  }

  &:hover {
    outline: 0;
  }
}

.selected {
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;

  &:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 10px;
  }

  &:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
}

.hidden {
  display: none !important;
  border: 5px solid red;
  font-size: 5rem;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2em;
    padding: 1rem;
  }

  h2 {
    font-size: 1.5em;
  }

  .game-mode {
    padding: 1.25rem;
    margin-bottom: 0.25rem;
  }

  [data-game-mode-button] {
    height: 2.3rem;
    width: 9rem;
    font-size: 1rem;
  }  

  .game-score {
    padding: 0.8rem;
  }

  [data-output-text] {
    padding: 0.24rem;
  }
}

@media (max-width: 375px){
  .game-score {
    font-size: 1.2rem;
  }

  [data-output-text]{
    font-size: 1.15rem;
  }

  .buttons {
    padding: .2rem;
  }
}

@media (max-width: 360px){

  h2 {
    font-size: 1.3rem;
  }

  .game-mode {
    padding: .3rem;
  }

  .game-score {
    font-size: 1.2rem;
  }

  [data-output-text]{
    font-size: 1.2rem;
  }

  .buttons {
    padding: .5rem;
  }

}

@media (max-width: 320px) {
  h1 {
    font-size: 1.5em;
    padding: 1rem;
  }

  h2 {
    font-size: 1.2rem;
    letter-spacing: 0.25rem;
  }

  .game-mode {
    padding: 0.6rem;
  }

  [data-game-mode-button] {
    font-size: 0.8rem;
    letter-spacing: 0.1em;

    height: 2rem;
    width: 6.5rem;

    padding: 0.2rem;
  }

  .game-score {
    font-size: 1rem;
    padding: .5rem;
    
  }

  [data-output-text] {
    font-size: 1rem;
    margin: .5rem 0;
  }

  .buttons {
    padding: .25rem;
  }

  [data-choice-button] {
    font-size: 1rem;
    line-height: 1.5rem;
    height: 2.5rem;
    width: 6rem;
  
    margin: 0.2rem;
    padding: 0 1.56rem;

    &:after {
      height: 2.5rem;
    }
  }
}
